<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ada Lovelace</title>
</head>
<body>
    <h1>Ada Lovelace</h1>
    <h3>Augusta Ada Byron, conocida hoy en día como Ada Lovelace, fue una matemática</h3>
    <h3>y escritora británica, célebre por su trabajo acerca de la computadora mecánica</h3>
    <h3>de uso general de Charles Babbage, la denominada máquina analítica.</h3>
    <img src='/img/lovelace.jpg' alt="">     <img src='/img/maquina analitica.jpg' alt="">

</body>
</html>